{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Create New Blog</h2>

        <form method="post" enctype="multipart/form-data" action="{% url 'blog:create_blog' %}">
            {% csrf_token %}
            {{ form.title.label_tag }} {{ form.title }}
            <br>

            {{ form.thumbnail.label_tag }} {{ form.thumbnail }}
            <br>
            <label for="content">content</label>
            <input type="text" id="content" name="content">
            <br><br>

            <button type="submit">Create Blog</button>
        </form>
    </div>

{#<script>#}
{#    function generateTextAreas() {#}
{#        const maxContentCount = 5;  // Set the maximum number of text areas#}
{#        const contentCount = document.getElementById('content_count').value;#}
{#        const contentAreasContainer = document.getElementById('content_areas');#}
{#        contentAreasContainer.innerHTML = '';#}
{##}
{#        // Ensure contentCount does not exceed the maximum#}
{#        if (contentCount > maxContentCount) {#}
{#            alert('Maximum allowed content count is 5.');#}
{#            document.getElementById('content_count').value = maxContentCount;#}
{#            contentCount = maxContentCount;#}
{#        }#}
{##}
{#        for (let count = 0; count < contentCount; count++) {#}
{#            const textareaLabel = document.createElement('label');#}
{#            textareaLabel.htmlFor = `content${count}`;#}
{#            textareaLabel.className = 'form-label';#}
{#            textareaLabel.innerText = `Content ${count + 1}`;#}
{##}
{#            const textarea = document.createElement('textarea');#}
{#            textarea.className = 'form-control';#}
{#            textarea.id = `content${count}`;#}
{#            textarea.name = `content${count}`;#}
{#            textarea.required = true;#}
{##}
{#            contentAreasContainer.appendChild(textareaLabel);#}
{#            contentAreasContainer.appendChild(textarea);#}
{#        }#}
{#    }#}
{#</script>#}

{% endblock %}
