<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdg asdg sd</title>
</head>
<body>
    <div>
        <div>


            <a href="/blog/create_blog">blog</a>
           

        </div>
        <div>
            
            <a href="/users/login">login</a>
            <a href="/users/register">register</a>
            
            <a href=""></a> 
        </div>
    </div>
    
    <a href="/blog/update_blog/asdg-asdg-sd"><h3>Update</h3></a>
    <a href="/blog/delete_blog/asdg-asdg-sd"><h3>Delete</h3></a>
    <div class="">
        <div id="title">
            <h2>
                asdg asdg sd
            </h2>
        </div>
        <div id="thumbnail"><img id="thumbnail" src="
                /static/articles/lazy.png
                        " alt="asdg asdg sd Thumbnail">
        </div>
        <div id="content">
            <p>
                gsad sg jfgr
            </p>
        </div>
        <div>
            <p>23-Dec-17</p>
        </div>
    </div>

</body>
</html>