<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <div>
        <div>


            <a href="/blog/create_blog">blog</a>
           

        </div>
        <div>
            
            <a href="/users/login">login</a>
            <a href="/users/register">register</a>
            
            <a href=""></a> 
        </div>
    </div>
    
    <div class="container mt-5">
        <h2>blog</h2>
        <img src="/static/articles/Screenshot_20231202_000748.png" alt="blog Thumbnail">
        <p>M;KFJDjglkasdjgklsdajgalsd;jgla;jg;lskdjag;lkjgld;asgjsalgjasdl;gjeiouqowietuqewioruoewiuzxmv,cnv,mzcxn</p>
    </div>

</body>
</html>