<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog 2</title>
</head>
<body>
    <div>
        <div>


            <a href="/blog/create_blog">blog</a>
           

        </div>
        <div>
            
            <a href="/users/login">login</a>
            <a href="/users/register">register</a>
            
            <a href=""></a> 
        </div>
    </div>
    
    <a href="/blog/update_blog/blog-2"><h3>Update</h3></a>
    <a href="/blog/delete_blog/blog-2"><h3>Delete</h3></a>
    <div class="">
        <div id="title">
            <h2>
                blog 2
            </h2>
        </div>
        <div id="thumbnail"><img id="thumbnail" src="
                /static/articles/link_in_admin.png
                        " alt="blog 2 Thumbnail">
        </div>
        <div id="content">
            <p>
                poigqpiojglkdsndsjgbn aks jng;lksajg oiaew nsna glknew klv
            </p>
        </div>
    </div>

</body>
</html>