

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/src/styles.css">
    <title>dfshdfh</title>
</head>
<body class="bg-gray-300">
    <div>
        <div>
            <a href="/blog/create-blog">blog</a>
        </div>
        <div>
            
            <a href="/users/login">login</a>
            <a href="/users/register">register</a>
            
            <a href=""></a> 
        </div>
    </div>
    
    <a href="/blog/update-blog/dfshdfh"><h3>Update</h3></a>
    <a href="/blog/delete-blog/dfshdfh"><h3>Delete</h3></a>
    <div class="">
        <div id="title">
            <h2>
                dfshdfh
            </h2>
        </div>
        <div id="thumbnail"><img id="thumbnail" src="
                /static/articles/blog_coffeeshop.png
                        " alt="dfshdfh Thumbnail">
        </div>
        <div id="content">
            <p>
                dfshsdfhsd
            </p>
        </div>
        <div>
            <p>23-Dec-17</p>
        </div>
    </div>

</body>
</html>