aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.6.0
asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0
django-bootstrap4==23.2
-e git+https://github.com/jazzband/django-debug-toolbar.git@be989d278d6fd736344eee3bf85d2025d5a34645#egg=django_debug_toolbar
django-otp==1.3.0
django-widget-tweaks==1.5.0
frozenlist==1.4.0
idna==3.6
multidict==6.0.4
npm==0.1.1
optional-django==0.1.0
phonenumbers==8.13.26
Pillow==10.1.0
psycopg2==2.9.9
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
PyJWT==2.8.0
python-dotenv==1.0.0
requests==2.31.0
secure-smtplib==0.1.1
sinchsms==1.0.5
soupsieve==2.5
sqlparse==0.4.4
twilio==8.10.3
typing_extensions==4.9.0
urllib3==2.1.0
yarl==1.9.4
autopep8==1.5.7
dj-database-url==0.5.0
gunicorn==20.1.0
pycodestyle==2.7.0
python-decouple==3.4
pytz==2021.1
toml==0.10.2
Unipath==1.1
whitenoise==5.3.0
