<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>

{#            <a href="{% url ''%}">menu</a>#}
            <a href="{% url 'blog:create_blog' %}">blog</a>
            <a href="{% url 'users:logout' %}">login</a> 

            <a href="">login</a>
        </div>
        <div>
            <a href="{% url 'users:login' %}">login</a>
            <a href=""></a> 
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>