<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <div>

{#            <a href="{% url ''%}">menu</a>#}
            <a href="{% url 'blog:create_blog' %}">blog</a>
           

        </div>
        <div>
            {% if not user.is_authenticated %}
            <a href="{% url 'users:login' %}">login</a>
            <a href="{% url 'users:register' %}">register</a>
            {% else %}
{#            <p>{{ user.phone_number }}</p>#}
             <a href="{% url 'users:logout' %}">logout</a> 
            {% endif %}
            <a href=""></a> 
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>