{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 mx-5">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="{% url 'core:home' %}">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'blog:list-blog' %}">Blogs</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
              </ol>
          </nav>
          <h2 class="h4">Blog</h2>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0 gap-4">
          <a class="btn btn-info xl text-white px-2 d-inline-flex align-items-center" href="{% url 'blog:update-blog' title|slugify %}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-xs me-2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
</svg>
              
<h6 class="m-0">Update</h6></a>
          <a class="btn btn-danger text-white px-2 d-inline-flex align-items-center" href="{% url 'blog:delete-blog' title|slugify %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-xs me-2">
  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
</svg><h6 class="m-0">Delete</h6></a>
          
      </div>
        </div>
<div class="row justify-content-center form-bg-image px-5 m-0" >
                    <div class="col-12 d-flex align-items-center justify-content-center m-0">
                        <div class="bg-white shadow border-0 rounded-3 border-light m-0 p-5 w-100 ">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                            
                                <h1 class="mb-0 fw-bolder text-xxl-center my-1 text-gray-400">
                                    Blog
                                </h1>
                                <br />
                                <p>
                                    {% if messages %}
                                        <p class="text-danger">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}</p>
                                    {% endif %}
                                </p>
                            </div>
        <div id="title">
            <h1 class="text-center fw-bolder display-1 text-capitalize">
                {{ title }}
            </h1>
            <div class="justify-content-center text-center align-items-center">
            <h5 class="badge bg-gray-800 text-center justify-content-center">{{ time }}</h5>
        </div>
        </div>
        <div class="rounded-3 justify-content-center align-items-center" id="thumbnail"><img class="rounded-3 justify-content-center align-items-center" id="thumbnail" src="
                {{ thumbnail_url }}
                        " alt="{{ title }} Thumbnail">
        </div>
        <div class="bg-white rounded-3 mx-5 my-4 p-4 text-center justify-content-center" id="content">
            <p>
                {{ content }}
            </p>
        </div>

    </div>
    </div>
    </div>
    
{% endblock %}