{% extends "base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




    <div class="py-4 mx-5 mx-lg-12">
        <div class="dropdown">
            <button class="w-100 btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle py-4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                New Task
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                <a class="dropdown-item d-flex align-items-center" href="{% url 'order:detail-cart' %}">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="dropdown-icon text-gray-400 me-2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
</svg>
                    Create Order
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'foods:create-food' %}">
<svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="dropdown-icon text-gray-400 me-2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
</svg>
                    Create Food
                </a>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'blog:create-blog' %}">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="dropdown-icon text-gray-400 me-2">
  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
</svg>
                    Create Blog
                </a>
            </div>
        </div>
    </div>
    <div class="row mx-5 mx-lg-12">
        <div class="col-12 mb-4">
            <div class="card bg-yellow-100 border-0 shadow">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <div class="fs-5 fw-normal mb-2">Sales Value</div>
                        <h2 class="fs-3 fw-extrabold">${{ total_sales|floatformat }}</h2>
                        <div class="small mt-2"> 
                            <span class="fw-normal me-2">Diff:</span>
                            <span class="text-success fw-bold">{{ percentage_difference|floatformat }}%</span>
                        </div>
                    </div>
                    <div class="d-flex ms-auto">
                        <a href="?range=year" class="text-white btn btn-success text-dark btn-sm me-2">Year</a>
                        <a href="?range=month" class="btn btn-secondary text-dark btn-sm me-2">Month</a>
                        <a href="?range=week" class="btn btn-google btn-sm me-2">Week</a>
                        <a href="?range=day" class="btn btn-info btn-sm me-2">Day</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mx-5 mx-lg-12">
        <div class="col-12 col-xl-12">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Favorite Foods</h2>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Food name</th>
                                    <th class="border-bottom" scope="col">Food Sales</th>
                                    <th class="border-bottom" scope="col">Food Counts</th>
                                    <th class="border-bottom" scope="col">Food Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for food in favorite_food  %}



                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        <a href="{% url 'foods:update-food' food.id %}">
                                            {{ food.name }}
                                        </a>
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        {{ food.total_sales }}
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        {{ food.counts }}
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        {{ food.category }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            
            
            <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Favorite Tables</h2>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Table Number</th>
                                    <th class="border-bottom" scope="col">Table Seats</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for table in favorite_table  %}



                                <tr>
                                    <th class="text-gray-900" scope="row">
                                            {{ table.number }}
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        {{ table.used_seats }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            {% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
