{% extends 'templates/base.html' %}
{% load static %}
{% block content %}
    <div class="relative flex ">
        <div class="absolute z-30 w-full ">
            <br>
            <br>
            <p class="text-5xl lg:text-[10rem] text-cafe-white font-bold text-center self-start ">FEEL IT!</p>
            <p class="text-4xl mt-4 lg:text-[100px] text-cafe-white font-bold text-center">WITH US</p>
        </div>
        <img class="w-full relative brightness-50 mb-96" src="{% static 'src/culture-espresso-home-2.jpg' %}">
    </div>
{% endblock %}