{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="flex gap-2 place-items-center block py-5 px-4 text-cafe-white bg-cafe-gray"{% endif %}>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                    </svg>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
  
    <h1>Menu</h1>

    <div class="mb-4">
        <a href="{% url 'foods:create-food' %}"><button class="bg-green-500 text-white px-4 py-2 rounded">Add Food</button></a>
        <a href="{% url 'foods:create-category' %}"><button class="bg-green-500 text-white px-4 py-2 rounded">Add Category</button></a>
    </div>

    {% for category in menu_data %}
        <h2 class="bg-blue-500">{{ category.name }}</h2>
        <a href="{% url 'foods:update-category' category.id %}">Update category</a>
        <div class="mb-2">
        </div>

        {% if category.foods %}
            <ul>
                {% for food in category.foods %}
                    <li class="bg-rose-600">
                        {{ food.name }} - 
                        {% if food.off_percent %}
                            <span class="text-gray-600">Original Price: ${{ food.original_price }}</span> - 
                            <span class="text-white">Off Percent: {{ food.off_percent }}%</span> -
                            <span class="text-green-500">Discounted Price: ${{ food.price_after_off }}</span>
                        {% else %}
                            ${{ food.original_price }}
                        {% endif %}
                        <a href="{% url 'foods:update-food' food.id %}">Update food</a>
                        <form action="{% url 'order:create-cart' food.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_prodict_form.as_p }}
                            <input type="submit" value="Add to cart">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for subcategory in category.subcategories %}
            <h3 class="bg-gray-400">{{ subcategory.name }}</h3>
            <a href="{% url 'foods:update-category' subcategory.id %}">Update category</a>
            <div class="mb-2">
            </div>

            {% if subcategory.foods %}
                <ul>
                    {% for food in subcategory.foods %}
                        <li class="bg-rose-600">
                            {{ food.name }} - 
                            {% if food.off_percent %}
                                <span class="text-gray-700">Original Price: ${{ food.original_price }}</span> - 
                                <span class="text-white">Off Percent: {{ food.off_percent }}%</span> - 
                                <span class="text-green-500">Discounted Price: ${{ food.price_after_off }}</span>
                            {% else %}
                                ${{ food.original_price }}
                            {% endif %}
                            <a href="{% url 'foods:update-food' food.id %}">Update food</a>
                            <form action="{% url 'order:create-cart' food.id %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="submit" value="Add to cart">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
