
{% extends 'base.html' %}


{% block title %} Orders-Detail {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <h2>Order Details</h2>

  <p>Order ID: {{ order.id }}</p>
  <p>Customer Phone: {{ order.customer_phone }}</p>
  <p>Table: {{ order.table }}</p>

  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.get_cost }}</td>
    </tr>
{% endfor %}
    </tbody>
  </table>

  <p>Total Cost: {{ order.get_total_cost }}</p>
{% endblock %}
