{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}

    <div class="cart">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Your cart:
                <a href="{% url "order:detail-cart" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
                </a>
            {% else %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>
<h1>Your shopping cart</h1>
<table class="cart">
    <thead>
    <tr>
    <th>Image</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Remove</th>
    <th>Unit price</th>
    <th>Price</th>
    </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
        <td>{{ product.name }}</td>
        <td>
            <form action="{% url "order:create-cart" product.id %}" method="post">
            {{ item.update_quantity_form.quantity }}
            {{ item.update_quantity_form.override }}
            <input type="submit" value="Update">
            {% csrf_token %}
            </form>
        </td>
        <td>
            <form action="{% url 'order:delete-cart' product.id %}"
                method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
            </form>
        </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
<a href="{% url "foods:list-food" %}" class="button light">Continue shopping</a>
<a href="{% url 'order:create-order' %}" class="button">Checkout</a>
</p>
{% endblock %}