{% extends "templates/base.html" %}
{% block content %}

    
    {{ id }}<br>
    {{ phone_number }}<br>
    {{ datetime }}<br>
    {{ number_of_persons }}<br>
    {{ table }}<br>
    {{ status }}<br>
    
   {% if user.is_authenticated %}
            <form method="post" action="{% url 'tables:reservation-detail' pk %}">
            {% csrf_token %}
            <input type="hidden" name="reservation_id" value="{{ pk }}">

            <!-- Select table -->
            <label for="table_id">Select Table:</label>
            <select name="table_id" id="table_id">
                <option value="Null">None</option>
                {% for table in tables %}
                    <option value="{{ table.id }}">
                        {{ table.number }} - {{ table.status }}
                    </option>
                {% endfor %}
            </select>

            <!-- Select new status -->
            <label for="new_status">Select New Status:</label>
            <select name="new_status" id="new_status">
                <option value="A">Accept</option>
                <option value="D">Denied</option>
                <option value="O">On Process</option>
            </select>

            <button type="submit" name="action" value="set">Set</button>
        </form>
        {% endif %}        
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
