{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

    {% if messages %}
            <ul class="messages">
                {% for message in messages %}

                    <li{% if message.tags %} class="flex gap-2 place-items-center block py-5 px-4 text-cafe-white bg-cafe-gray"{% endif %}><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
</svg>
{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <div class=" forms-div ">

    <h2 class='forms-header'>Tables</h2>
<div class="center">
	<ul class="tasks">
		{% for task in table %}
            <br>
            {{ task }} |||
            {{ task.status }}  |||
            {% if task.status != 'R' %}
            <form action="{% url 'tables:change-table-status' task.pk 'R' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Reserve</button>
            </form>
            {% endif %}
            {% if task.status != 'E' %}
            <form action="{% url 'tables:change-table-status' task.pk 'E' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Empty</button>
            </form>
            {% endif %}
            {% if task.status != 'F' %}
            <form action="{% url 'tables:change-table-status' task.pk 'F' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Full</button>
            </form>
            {% endif %}

		{% endfor %}
	</ul>
</div>
{% endblock content %}